{%- if tests or docs or docker -%}
variables:
  IMAGE_PATH: ${CI_REGISTRY}/${CI_PROJECT_PATH}

stages:
{%- if tests %}
  - test
{%- endif -%}
{%- if docs %}
  - docs
{%- endif -%}
{%- if docker %}
  - deploy
{%- endif %}

{% if tests -%}
test:
  stage: test
  image: $CI_REGISTRY/docker/python-pytest
{% if docker_integration_tests -%}
  variables:
    DOCKER_HOST: "tcp://docker:2375"
  services:
    - docker:dind
{%- endif %}
  coverage: '/TOTAL.+?(\d+)%/'
  script:
    - entrypoint.sh
  artifacts:
    paths:
      - target/coverage
      - target/lint
    name: test
    expire_in: 30 minutes
    when: always
{%- endif %}

{% if docs -%}
build-docs:
  stage: docs
  image: $CI_REGISTRY/docker/python-sphinx
  script:
    - /entrypoint.sh
  artifacts:
    paths:
      - target/docs
    name: documentation
    expire_in: 30 minutes
    when: always
{%- endif %}

{% if docker -%}
deploy:
  stage: deploy
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build --pull -t $IMAGE_PATH:$CI_COMMIT_REF_NAME .
    - docker push $IMAGE_PATH:$CI_COMMIT_REF_NAME
{%- endif %}

{% if docs or tests -%}
pages:
  stage: deploy
  script:
{% if tests -%}
    - mkdir -p public/coverage public/lint
    - cp -rf target/coverage/* public/coverage/
    - cp -rf target/lint/* public/lint/
{%- endif %}
{% if docs -%}
    - cp -rf target/docs/* public/
{%- endif %}
  artifacts:
    paths:
      - public
  when: always
  only:
    - master
{%- endif -%}
{%- endif -%}
