#!/usr/bin/python3
{{ license_header }}

import logging

LOGGING_LEVEL = os.getenv("LOGGING_LEVEL", "DEBUG")
logging_format = "%(levelname)8s %(asctime)s %(message)s"
logging.basicConfig(level=logging.getLevelName(LOGGING_LEVEL), format=logging_format)

logger = logging.getLogger(__name__)

if __name__ == "__main__":
    pass
