{{ license_header }}

import os

{% if database_management == 'postgres' -%}
DATABASE_URL = 'postgresql://{user}:{password}@{host}/{database}'.format(
        user=os.getenv("DATABASE_USER", "postgres"),
        password=os.getenv("DATABASE_PASSWORD", "postgres"),
        host=os.getenv("DATABASE_HOST", "postgres"),
        database=os.getenv("DATABASE_NAME", "postgres"))
{%- endif %}
