{{ license_header }}

import logging

{%- if database_management -%}
import configuration
{%- endif %}

__author__ = '{{ author }}'
__copyright__ = '{{ year }}, {{ author }}'
__license__ = '{{ license }}'
__version__ = '0.0.1'

logger = logging.getLogger(__name__)
