FROM python:3-alpine

WORKDIR /app
COPY requirements.txt /app/

RUN apk add --no-cache --virtual .build-deps gcc musl-dev libffi-dev libressl-dev {% if database_management == 'postgres' %}postgresql-dev {% endif %}&& \
    pip install --no-cache-dir -r /app/requirements.txt && \
    apk del --no-cache .build-deps

{% if database_management == 'postgres' -%}
RUN apk add --no-cache libpq
{%- endif %}

COPY app.py /app/app.py
COPY {{ pythonic_project_name }} /app/{{ pythonic_project_name }}

CMD ["python", "/app/app.py"]
