version: '2.4'

services:
{%- if database_management == 'postgres' %}
  postgres:
    image: postgres:alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: Europe/Berlin
    networks:
      default:
        aliases:
          - postgres
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "8080:80"
    volumes:
      - pgadmin:/var/lib/pgadmin
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres
      PGADMIN_DEFAULT_PASSWORD: postgres
      TZ: Europe/Berlin
{%- endif %}

volumes:
{%- if database_management == 'postgres' %}
  postgres:
  pgadmin:
{%- endif -%}
