# {{ project_name }}
[![pipeline status]({{ gitlab_base_url }}/{{ project_name }}/badges/master/pipeline.svg)]({{ gitlab_base_url }}/{{ project_name }}/commits/master)
{% if docs -%}
[![documentation]({{ gitlab_pages_base_url }}/{{ project_name }}/documentation.svg)]({{ gitlab_pages_base_url }}/{{ project_name }}/)
{%- endif %}
{% if tests -%}
[![coverage]({{ gitlab_base_url }}/{{ project_name }}/badges/master/coverage.svg)]({{ gitlab_pages_base_url }}/{{ project_name }}/coverage/)
{%- endif %}
{% if tests -%}
[![pylint]({{ gitlab_pages_base_url }}/{{ project_name }}/lint/pylint.svg)]({{ gitlab_pages_base_url }}/{{ project_name }}/lint/)
{%- endif -%}
