{{ license_header }}

import unittest

import {{ pythonic_project_name }}


class {{ project_name_uppercase }}Tests(unittest.TestCase):

    @staticmethod
    def test():
        pass


if __name__ == '__main__':
    unittest.main()
