
Welcome to {{ project_name }}'s documentation!
==========={{ (project_name | length) * "=" }}=================

Contents:

.. toctree::
   :maxdepth: 2


*****************
API Documentation
*****************

.. toctree::
    :maxdepth: 2
    :glob:

    api/*


******************
Indices and tables
******************

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
